<FilesMatch "\.(jpg|jpeg|png|gif|webp)$">
    Header set Cache-Control "max-age=31536000"
</FilesMatch>

RewriteEngine On
RewriteBase /

Options -Indexes

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_URI} !^/v[0-9]+/
RewriteCond %{REQUEST_URI} !^/v[0-9]+/(.*)$
RewriteRule ^(.*)$ /v1/$1 [L]

RewriteRule ^$ /v1/ [L]

RewriteCond %{REQUEST_URI} ^/v([0-9]+)/?$ [NC]
RewriteCond %{DOCUMENT_ROOT}/v%1/index.html -f
RewriteRule ^v([0-9]+)/?$ /v%1/index.html [L]

RewriteRule ^v([0-9]+)/(.*)$ /v$1/$2 [L]

<Files ".ftp-deploy-sync-state.json">
    Order Allow,Deny
    Deny from all
</Files>
