.container-notfound {
  width: 100%;
  .code-notfound {
    margin-top: 2rem;
    padding: 0.3rem 0.5rem;
    span {
      color: #777777;
      margin-right: 0.5rem;
    }
    @media (max-width: 768px) {
      margin-top: 0;
    }
  }
  .message-notfound {
    font-size: 1rem;
    margin-top: 3rem;
    padding: 0.3rem 0.5rem;
  }
}
